:host {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
}

:host>* {
  flex-grow: 1;
}

.rendu-dialog-actions {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.rendu-dialog-actions>button {
  flex-grow: 1;
}

