<h2>Formulaire de devoir</h2>
<mat-stepper #stepper linear>
  <mat-step [stepControl]="infoDevoirFormGroup">
    <form [formGroup]="infoDevoirFormGroup">
      <ng-template matStepLabel>Informations devoir</ng-template>
      <mat-form-field style="max-width: 500px">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Nom du devoir" formControlName="nomDevoir" required>
      </mat-form-field>
      <mat-form-field style="max-width: 500px">
        <mat-label>Matiere</mat-label>
        <input type="text" placeholder="Choisir une matiere" aria-label="Matiere" matInput
          formControlName="matiere" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option.nom}}</mat-option>
          }
        </mat-autocomplete>
<mat-error *ngIf="infoDevoirFormGroup.controls['matiere'].hasError('incorrect')">Veuillez choisir une des options proposées</mat-error>
<mat-error *ngIf="infoDevoirFormGroup.controls['matiere'].hasError('required')">Veuillez remplir ce champ</mat-error>
      </mat-form-field>
      <mat-form-field style="max-width:250px">
        <mat-label>Date limite de rendu</mat-label>
        <input matInput formControlName="dateLimite" [matDatepicker]="picker" required>
        <mat-hint>mois/jour/année</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button color="primary" mat-flat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="elevesControl" label="Elèves concernés">
    <form>
      <mat-form-field style="max-width: 250px">
        <mat-label>Groupes</mat-label>
        <mat-select [formControl]="elevesControl" multiple>
          @for (group of groupOptions; track group) {
          <mat-option [value]="group">{{group}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button color="primary" mat-flat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminer</ng-template>
    <p>Veuillez confirmer les informations</p>
    <dl>
      <dt>Nom du devoir</dt>
      <dd>{{infoDevoirFormGroup.controls['nomDevoir'].value??"Champ à renseigner"}}</dd>
      <dt>Matière et prof responsable</dt>
      <dd>{{infoDevoirFormGroup.controls['matiere'].value?.nom}}( {{infoDevoirFormGroup.controls['matiere'].value?.responsable}})</dd>
      <dt>Date limite</dt>
      <dd>{{infoDevoirFormGroup.controls['dateLimite'].value | date}}</dd>
      <dt>Groupes concernés</dt>
      <dd>{{elevesControl.value}}</dd>
    </dl>
    <div>
      <button mat-button matStepperPrevious>Retour</button>
      <button mat-button (click)="stepper.reset()">Reinitialiser</button>
      <button mat-flat-button (click)="save()" color="primary">Enregistrer</button>
    </div>
  </mat-step>
</mat-stepper>
