<h2>Formulaire de devoir</h2>
<mat-stepper #stepper>
  <mat-step [stepControl]="infoDevoirFormGroup">
    <form [formGroup]="infoDevoirFormGroup">
      <ng-template matStepLabel>Informations devoir</ng-template>
      <mat-form-field style="max-width: 500px">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Nom du devoir" formControlName="nomDevoir" required>
      </mat-form-field>
      <mat-form-field style="max-width:250px">
        <mat-label>Date limite de rendu</mat-label>
        <input matInput formControlName="dateLimite" [matDatepicker]="picker" required>
        <mat-hint>mois/jour/année</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div>
        <button color="primary" mat-flat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="elevesFormGroup" label="Elèves concernés">
    <form [formGroup]="elevesFormGroup">
      <mat-form-field style="max-width: 250px">
        <mat-label>Groupes</mat-label>
        <mat-select formControlName="group" multiple>
          @for (group of groupList; track group) {
          <mat-option [value]="group">{{group}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Retour</button>
        <button color="primary" mat-flat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Terminer</ng-template>
    <p>Veuillez confirmer les informations</p>
    <dl>
      <dt>Nom du devoir</dt>
      <dd>{{infoDevoirFormGroup.get('nomDevoir')!.value}}</dd>
      <dt>Date limite</dt>
      <dd>{{infoDevoirFormGroup.get('dateLimite')!.value | date}}</dd>
      <dt>Groupes concernés</dt>
      <dd>{{elevesFormGroup.get('group')!.value}}</dd>
    </dl>
    <div>
      <button mat-button matStepperPrevious>Retour</button>
      <button mat-button (click)="stepper.reset()">Reinitialiser</button>
      <button mat-flat-button (click)="save()" color="primary">Enregistrer</button>
    </div>
  </mat-step>
</mat-stepper>
