<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over" hasBackdrop="true"
    style="padding: 1rem .5rem; display:flex; flex: 1 1 auto" [autoFocus]="false">
    <mat-nav-list style="min-width:30vw; min-width:30dvh;">
      <a routerLink="devoirs" mat-list-item>Devoirs</a>
      @if(!isStudent){
      <a routerLink="matieres" mat-list-item>Matières</a>
      <a routerLink="etudiants" mat-list-item>Etudiants</a>
      }
    </mat-nav-list>
  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="home" style="text-decoration-line:none;">{{title}}</a>
    <span style="flex: 1 1 auto"></span>
  </mat-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>

</mat-drawer-container>
