  <h2>Liste des devoirs</h2>
<div class="list-header">
  <input matInput [formControl]="search" placeholder="Filtrer par nom ou nom de matière...">
  <button mat-outlined-button aria-label="Recharger" title="Recharger"
    (click)="resetFilter()"><mat-icon>refresh</mat-icon></button>
  @if(isAdmin) {
  <a mat-flat-button routerLink="/devoirs/add" color="primary">Nouveau devoir</a>
  }
</div>
<cdk-virtual-scroll-viewport #scroller class="virtual-scroller assignment-list" [itemSize]="itemSize">
    <ng-container *cdkVirtualFor="let a of assignments">
      @if(isStudent){
      <app-assignments-list-item-student [assignment]="a" />
      }
      @else{
      <app-assignments-list-item (deleteEvent)="fetchData()" [assignment]="a" />
      }
    </ng-container>
    @if(!assignments?.length){
    <p>Pas encore de devoir assignés</p>
    }
</cdk-virtual-scroll-viewport>
