.assignments-list {
  display: flex;
  gap: .5rem;
  flex-direction: column;
}

.virtual-scroller{
  min-height: calc(100vh - 64px);
  min-height: calc(100dvh - 64px);
}

.list-header {
  display: flex;
  gap: .4rem;
  justify-content: space-between;
}
.list-header>input {
  flex-grow: 1;
}
